{% extends "base.html" %}

{% block content %}
<article class="post">
  <header class="post-header">
    {% if page.taxonomies.doctype is defined and "resource" in page.taxonomies.doctype %}
      <h1 class="resource-post-title">{{ page.title }}</h1>
      {% if page.updated %}
      <div class="last-update">last update: {{ page.updated | date(format="%Y-%m-%d") }}</div>
      {% endif %}
    {% else %}
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.updated %}
      <div class="last-update">last update: {{ page.updated | date(format="%Y-%m-%d") }}</div>
      {% endif %}
    {% endif %}

    {% if page.taxonomies %}
    <div class="post-taxonomies">
      {% if page.taxonomies.maintopic %}
      <span class="taxonomy-label">Topics:</span>
      {% for term in page.taxonomies.maintopic %}
      <a href="{{ config.base_url | safe }}/maintopic/{{ term | slugify }}/" class="tag tag-maintopic">{{ term }}</a>
      {% endfor %}
      {% endif %}
      {% if page.taxonomies.doctype %}
      <span class="taxonomy-label">Type:</span>
      {% for term in page.taxonomies.doctype %}
      <a href="{{ config.base_url | safe }}/doctype/{{ term | slugify }}/" class="tag tag-doctype">{{ term }}</a>
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}

    {% if page.extra is defined and page.extra.featuredimage is defined %}
    <figure class="featured-image-figure-div">
      <img class="featured-image" src="{{ get_url(path=page.extra.featuredimage) }}" alt="{{ page.title }}" title="{{ page.title }}">
    </figure>
    {% endif %}
  </header>

  <div class="post-content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
