{% extends "base.html" %}

{% block content %}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ section.title }}</h1>
    {% if section.updated %}
    <div class="last-update">last update: {{ section.updated | date(format="%Y-%m-%d") }}</div>
    {% endif %}

    {% if section.extra.featuredimage is defined %}
    <figure class="featured-image-figure-div">
      <img class="featured-image" src="{{ get_url(path=section.extra.featuredimage) }}" alt="{{ section.title }}" title="{{ section.title }}">
    </figure>
    {% endif %}
  </header>

  <div class="post-content">
    {{ section.content | safe }}
  </div>
</article>
{% endblock content %}
