<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="grid" id="searchBar">
      <div>
        <div id="search">
          <form role="search" method="get" action="{{ site.baseurl }}//search/">
            <input id="searchString" name="searchString" placeholder="Learn Ionic, Be a Better Developer, etc." type="text">
            <input id="searchButton" name="googleSearchName" type="button" value="Search">
          </form>
        </div>
        <div id="archives">
            browse by <a title="The complete archive of {{ site.name }}'s Blog by category" href="{{ site.baseurl }}//categoryview">category</a>
            or <a title="The complete archive of {{ site.name }}'s Blog by month" href="{{ site.baseurl }}//monthview">date</a>
        </div>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>
